<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Piece Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>One Piece Character Guessing Game</h1>

    <!-- Input form -->
    <form id="guess-form">
  <div class="autocomplete">
    <input type="text" id="guess" placeholder="Enter character name" autocomplete="off" required>
    <div id="suggestions"></div>
  </div>
  <button type="submit">Submit</button>
</form>
<div id="controls">
  <button id="newRoundBtn">New Round</button>
<button id="revealBtn">Reveal</button>

</div>
    <!-- Column titles -->
    <div id="titles">
    <div class="title-box">Name</div>
    <div class="title-box">Gender</div>
    <div class="title-box">First Arc</div>
    <div class="title-box">Affiliation</div>
<div class="title-box">
<img src="/static/Berrysymbol.svg" alt="Berry" class="berry-icon">
  Bounty
</div>    <div class="title-box">Height</div>
    <div class="title-box">Devil Fruit</div>
    <div class="title-box">Haki</div>
</div>
<div id="guess-container-wrapper">
    <div id="guess-container"></div>
</div>


<!-- Container for all guess rows -->
<div id="guess-container"></div>

    <div id="result"></div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>


